body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
	line-height: 24px;
	padding: 2rem;
}

h1 {
	margin-bottom: 2rem;
}

table {
	table-layout: inherit;
}

th {
	white-space: nowrap;
}

thead th {
	display: table-cell;
	line-height: 24px;
	padding-bottom: 8px ! important;
	padding-top: 8px ! important;
	width: 10rem;
	text-align: center;
}

thead th span {
	display: inline-block;
	line-height: 18px;
	min-width: 5rem;
}

thead th:first-child {
	text-align: left;
}

td {
	color: #aaa;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
}

.table-success {
	color: #000;
}

.table-null {
	color: #fff;
}

.scrolling {
	position: relative;
}

.scrolling tbody td,
.scrolling tbody th {
	vertical-align: middle;
	padding: 10px;
	min-width: 120px;
}

.scrolling thead th:first-child,
.scrolling tbody th {
	position: absolute;
	left: 0;
	width: 200px;
}

.scrolling-inner {
	overflow-x: auto;
	overflow-y: visible;
	margin-left: 200px;
	z-index: 0;
}
