body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
	line-height: 24px;
	padding: 2rem;
}

@media (max-width: 48rem) {
	body {
		font-size: 0.75rem;
		line-height: 16px;
		padding: 0.5rem;
	}
}

h1 {
	margin-bottom: 2rem;
}

@media (max-width: 48rem) {
	h1 {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	p {
		margin-bottom: 0.5rem;
	}
}

table {
	table-layout: inherit;
}

th {
	white-space: nowrap;
}

thead th {
	display: table-cell;
	line-height: 24px;
	padding-bottom: 8px ! important;
	padding-top: 8px ! important;
	width: 10rem;
	text-align: center;
}

@media (max-width: 48rem) {
	thead th {
		line-height: 16px;
		width: 6rem;
	}
}

thead th span {
	display: inline-block;
	line-height: 18px;
	min-width: 5rem;
}

@media (max-width: 48rem) {
	thead th span {
		min-width: 3rem;
	}
}

thead th:first-child {
	text-align: left;
}

td {
	color: #aaa;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
}

@media (max-width: 48rem) {
	td {
		line-height: 16px;
	}
}

.table-success {
	color: #000;
}

.table-null {
	color: #fff;
}

.scrolling {
	position: relative;
}

@media (max-width: 48rem) {
	.scrolling {
		margin: 0 -0.5rem;
	}
}

.scrolling tbody td,
.scrolling tbody th {
	vertical-align: middle;
	padding: 10px;
	min-width: 120px;
}

@media (max-width: 48rem) {
	.scrolling tbody td,
	.scrolling tbody th {
		min-width: 0;
	}
}

.scrolling thead th:first-child,
.scrolling tbody th {
	position: absolute;
	left: 0;
	width: 200px;
}

@media (max-width: 48rem) {
	.scrolling thead th:first-child,
	.scrolling tbody th {
		width: 140px;
	}
}

.scrolling-inner {
	overflow-x: auto;
	overflow-y: visible;
	margin-left: 200px;
	z-index: 0;
}

@media (max-width: 48rem) {
	.scrolling-inner {
		margin-left: 140px;
	}
}
.strikethru {
	text-decoration: line-through;
}
